*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    padding: 40px;
    /* background-color: aqua; */
}
.rom{
    display: flex;
    padding: 40px;
}
.rowl{
    display: none;
}
.row img{
    width: 50%;
    height: 48vh;
    object-fit: cover;

}
.rom img{
    width: 50%;
    height: 48vh;
    object-fit: cover;

}
.rowl img{
    width: 50%;
    height: 48vh;
    object-fit: cover;

}

.descriptive{
    padding: 40px;
    text-align: justify;
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.descriptive p{
    margin-top: 20px;
}
.descriptive h1{
    text-align: center;
    font-size: x-large;
    /* font-weight: 600; */
}

.pici img{
    width: 100%;
    height: 100%;
}
.paroles{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media(max-width:912px){
    .row img{
        height: 30vh;
 
    
    }
    
}
@media(max-width:880px){
    .row{
        display: flex;
        padding: 15px;
    }
    .row img{
        width: 50%;
        height: 35vh;
        object-fit: cover;
    
    }
    
    .descriptive{
        padding: 25px;
        text-align: justify;
        width: 55%;
    }
}
@media(max-width:700px){
    .row{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    .row img{
        width: 100%;
        height: 35vh;
        object-fit: cover;
    
    }
    .rom{
        display: none;
    }
    .rowl{
        display: block;
        padding: 20px;
    }
    .rowl img{
        width: 100%;
        height: 35vh;
        object-fit: cover;
    
    }
    .descriptive{
        text-align: justify;
        /* padding: 5px; */
        width: 100%;
    }
    
}