.home-container{
height: auto;
/* background-color: aqua; */
}

.divtwo{display: flex;}


.words{
    padding: 100px;
    text-align: justify;
    width: 60%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.words p{
    margin-top: 20px;
}
.words h1{
    text-align: left;
    font-size: x-large;
    /* font-weight: 600; */
}

.yet{
    height: 100vh;
    /* background-color: rgba(128, 128, 128, 0.411); */
}
.yet img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.photos{
    /* height: 80vh; */
    width: 65%;
    /* background-color: darkred; */
    /* margin-left: 100px; */
    display: flex;
    padding: 30px;
}
.photo1 {
    height: 28vh;
    width: 355px;
    background-color: darksalmon;
    /* margin-left: 50px; */
    margin-top: 15px;
    background-image: url(../assets/images/traditional.jpg);
    background-size: 100%;
    background-position: center;
    transition: 1s;
    /* cursor: zoom-in; */
}
.photo1:hover{
    background-size: 150%;
    background-position: center;
}
.photo2{
    height: 33vh;
    width: 355px;
    background-color: black;
    margin-left: -80px;
    margin-top: 35px;
    background-image: url(../assets/images/flag.jpg);
    background-size: 100%;
    /* background-position: center; */
    transition: 1s;
    /* cursor: zoom-in; */
}
.photo2:hover{
    background-size: 150%;
    background-position: center;
}
.photo3{
    height: 28vh;
    width: 355px;
    background-color: darksalmon;
    margin-left: -650px;
    margin-top: 220px;
    background-image: url(../assets/images/drums.jpg);
    background-size: 100%;
    background-position: center;
    transition: 1s;
    /* cursor: zoom-in; */
}
.photo3:hover{
    background-size: 150%;
    background-position: center;
}

.mission{
    display: flex;
 /* background-color: rgba(128, 128, 128, 0.411); */
}
.images{
    width: 30%;
    margin-left: 120px;
}
.images img{
    width: 100%;
    height: 35vh;
    margin-top: 12px;
}
.solution{
 padding: 40px;
    display: flex;
 background-color: white
 ;
}
.norsken{
    width: 55%;
    margin-left: 20px;
    
}
.norsken img{
height: 70vh;
width: 100%;
}
.words-norsken{
    padding: 30px;
    text-align: justify;
    width: 60%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.words-norsken h1{
    text-align: left;
    font-size: x-large;
    /* font-weight: 600; */
}
.words-norsken p{
    margin-top: 10px;
}

.yet-white{
    height: 50vh;
    background-color: white;
}
@media screen {
    @media(max-width:600px){
        .yet{
            height: 50vh;
            width: auto;
            /* background-color: rgba(128, 128, 128, 0.411); */
        }
        .yet img{
            object-fit: cover;
            width: 100%;
            height: 50vh;
        }
        .divtwo{
            display:grid;
            grid-template-columns: repeat(1,1fr);
        }
        .words{
            padding: 20px;
            text-align: justify;
            width: 100%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .photos{
            /* height: 80vh; */
            width: 100%;
            /* background-color: darkred; */
            /* margin-left: 100px; */
            display: flex;
            padding: 30px;
        }
        .photo1 {
            height: 13vh;
            width: 210px;
            background-color: darksalmon;
            margin-left: 0px;
            margin-top: 0px;
            background-image: url(../assets/images/traditional.jpg);
            background-size: 100%;
            background-position: center;
            transition: 1s;
            /* cursor: zoom-in; */
        }
       
        .photo2{
            height: 15vh;
            width: 220px;
            background-color: black;
            margin-left: -85px;
            margin-top: 30px;
            background-image: url(../assets/images/flag.jpg);
            background-size: 100%;
            /* background-position: center; */
            transition: 1s;
            /* cursor: zoom-in; */
        }
       
        .photo3{
            height: 13vh;
            width: 210px;
            background-color: darksalmon;
            margin-left: -315px;
            margin-top: 125px;
            background-image: url(../assets/images/drums.jpg);
            background-size: 100%;
            background-position: center;
            transition: 1s;
            /* cursor: zoom-in; */
        }
        .mission{
            display:grid;
            grid-template-columns: repeat(1,1fr);
        }
        .images{
            width: 100%;
            margin-left: 0px;
            padding: 20px;
        }
        .images img{
            width: 100%;
            height: 25vh;
            margin-top: 12px;
        }
        .solution{
            padding: 20px;
            display:grid;
            grid-template-columns: repeat(1,1fr);
           }
           .norsken{
               width: 100%;
               margin-left: 0px;
               
           }
           .norsken img{
           height: 25vh;
           width: 100%;
           }
           .words-norsken{
            padding: 30px;
            text-align: justify;
            width: 100%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
    }
}